h1 {
    color: white;
    width: 675px;
    font-family: Century Gothic;
    font-size: 70px;
    font-variant: small-caps;
    background-color: #393939;
    margin-left: -15px;
    padding: 20px;
}

nav {
    margin-left: -20px;
}

nav a {
    color: white;
    background-color: #9F1515;
    width: 200px;
    padding: 10px;
    margin: 5px;
    width: 100px;

}