<head>
        <link rel="stylesheet" href="/ngApp/views/pageCSS.css">
    </head>
    <body>
<h2>Contact Us</h2>


<div>
    <p></p>
    <p></p>
<p>Location: 644 Cars Ave, Carville, Carstate 94551 </p>
<p>Phone: (555) 555-5555</p>
<p>E-Mail: cars@cars.com</p>
</div>
<div>

<h3>Send us a Message!</h3>
<p></p>
<textarea rows="5" cols="50"></textarea>
<br>
<label for="_replyto">E-Mail:</label>
<input type="email" name="_replyto">
<br>
<label for="Name">Name: </label>
<input type="text" name="name">
<br>
<button type="submit"= value="Send"> Send </button>
<p>
</body>