<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">    
        <link rel="stylesheet" href="style.css">            
    </head>
            
    <body>
        <header>
                <nav>
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#inventory">Inventory</a>
                        <a href="#contact">Contact</a>
                </nav>
        </header>
        <div class="center">
                <h1>WELCOME TO CODER CAMPS VOLKSWAGEN</h1>
                <iframe width="427" height="240" src="https://www.youtube.com/embed/iyR3w9Bl9VQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>  
        
        <footer>
               <a href="https://www.facebook.com/volkswagen/">Facebook</a>

                <h6> Address: 1611 Drive Us Now Rd. Phoenix, Az. 67052  </h6>
        </footer>

    </body>
</html>


